body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

ul {

}

a:link {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.header, .initial-content, .information, .quote, .call-to-action, .footer {
    padding: 0 200px;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
    gap: 20px;
}

.initial-content, .information, .quote, .call-to-action {
    min-height: 20vh;
    padding-top: 60px;
    padding-bottom: 60px;
}

.initial-content {
    display: flex;
    justify-content: space-between;
}

.header, .footer {
    min-height: 5vh;
}

.initial-content {
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.left-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: flex-start;
    
}

.content-title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.content {
    color: #E5E7EB;
    font-family: 18px;
    margin-bottom: 10px;
}

.sign-up {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    background-color: #3882f6;
    color: white;
    padding: 5px 20px 5px;
    border: 0px;
    border-radius: 8px;
}

.image-placeholder{
    background-color: gray;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 140px;
    padding-left: 140px;
    color: white;
    text-align: center  ;
}


.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.random-information {
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.information-container {
    display: flex;
}

.info-holder {
    border-style: solid;
    border-radius: 6px;
    border-color: #3882f6;
    border-width: 2px;
    height: 180px;
    width: 180px;
    margin-bottom: 10px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-subtext {
    text-align: center;
    color: #1F2937;
    font-size: 16px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-content, .quote-author {
    padding-left: 80px;
    padding-right: 80px;
}

.quote-content {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 10px;
}

.quote-author {
    text-align: right;
    font-size: 18px;
}

.call-to-action {
}

.footer {
}